MONGODB_URI=mongodb+srv://<usuario>:<password>@<cluster>.mongodb.net/?retryWrites=true&w=majority
BASE_URL=https://tu-proyecto.vercel.app
SMTP_USER=tu_cuenta@outlook.com
SMTP_PASS=tu_contraseña
MAIL_FROM_NAME=Equipo de seguridad de Microsoft
